@media (min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:90% !important;
    }
}
.dropdown-prod-list {
    width: 100%;
}
.dropdown.dropdown-half-width {
    position: initial
}

@media (max-width:575.98px) {
    .dropdown.dropdown-half-width {
        position: relative
    }
}
.dropdown.dropdown-half-width .dropdown-menu {
    left: 25% !important;
    right: 25%!important;
    top: 100% !important;
    transform: none !important
}
.header .header-logo img {
    max-height: 75px !important;
}
.header .header-logo {
    width: auto !important;
}
.brand-text small {
    font-family: cursive;
    font-size: 1.45rem !important;
    color: #cfa816 !important;
}